.contact-content{  
    height: 100vh;
    margin-top: 32px;
    padding: 9px;
    position: relative; 
    overflow: hidden;
  }
  
  .contact-content::after {
    content: "";
    background-image: url("../img/jamshedpur-jharkhand-tripinfi.jpg");
    position: absolute;
    top:0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
    z-index: -1;
  }
 